form{
    text-align: center;
}
pre{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(143, 19, 192);
}
body{
    font-family: 'Poppins', sans-serif;
    background-image: url(Screenshot\ 2025-07-10\ 115354.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
h1{
    font-family:'Times New Roman', Times, serif;
    color: #1a1a1a;
    text-align: center;
}
h3{
    font-family:'Times New Roman', Times, serif;
    color: #1a1a1a;
    text-align: center;
    transform: translateX(-40px);

}
h2{
    font-family:'Times New Roman', Times, serif;
    color: #1a1a1a;
    text-align: center;
}
h4{
    font-family:'Times New Roman', Times, serif;
    color: #1a1a1a;
    text-align: center;
    display: block;
    
}
#countLabel{
    display:block;
    text-align:center;
    font-size: 10em;
    font-family: Helvetica;
}
#btnContainer{
    text-align: center;
}
.buttons{
    padding:10px;
    font-size: 1.5em;
    color:aliceblue;
    background-color: aqua;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;

}
.buttons:hover{
    background-color: antiquewhite;
}